services:
  mysql:
    image: mysql:8.4.0
    container_name: mysql
    restart: always
    env_file:
      - ./db/.env
    volumes:
      - mysql_data:/var/lib/mysql
      - ./initdb:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    command: npm start
    env_file:
      - ./backend/.env
    ports:
      - "8888:8888"
    depends_on:
      mysql:
        condition: service_healthy

  nextjs:
    build:
      context: ./next-basic
      dockerfile: Dockerfile
    container_name: nextjs
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped

volumes:
  mysql_data: